<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak,shpëto jetë!</title>
  <link href = "giveblood.png"  rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="generalStyle.css">
  <link rel="stylesheet" href="card.css">
  <link rel="stylesheet" href="shto.css">
  <!-- / Boostrap4 -->
  <link href="style.css" rel="stylesheet" />
  <link rel="stylesheet" href="navAndFooter.css" >
  <link rel="stylesheet" href="depozita.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body style="
 
  background-color: rgba(255,255,255,0.2);
  background-blend-mode: lighten;
  background-repeat : no-repeat;
  background-size: cover;
  ">

<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
  <img class="navbar-brand logo" width="5%" src="giveblood.png">

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse6">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse6">
    <div class="navbar-nav">
      
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dhuruesit e gjakut
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/shto_dhurues">Shto dhurues</a>
          <a class="dropdown-item" href="/lista_dhuruesve">Lista e dhuruesve</a>

        </div>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Marrësit e gjakut
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/shto_marres">Shto marrës</a>
          <a class="dropdown-item" href="/lista_marresve">Lista e marrësve</a>

        </div>
      </li>


      <a href="/depozita" class="nav-item nav-link active">Depozita</a>
      
      <form action="/shkyqu" method="POST">
        <button class="nav-item nav-link active btn btn-light" type="submit">Dil</button>
      </form>
      
      <!-- Ketu mbarojne kushtet per backend dhe elementet -->
    </div>

  </div>
</nav>

<!--  -->
    <div class="center center" style="margin:10% 0;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <h1>#</h1>
            </th>
            <th scope="col">
              <h1 style="color:Tomato;">A+</h1>
        </th>
            <th scope="col">
              <h1 style="color:Tomato;">A-</h1>
            </th>
            <th scope="col">
              <h1 style="color:Tomato;">B+</h1>
            </th>
            <th scope="col">
              <h1 style="color:Tomato;">B-</h1>
            </th>
            <th scope="col">
              <h1 style="color:Tomato;">AB+</h1>
            </th>
            <th scope="col">
              <h1 style="color:Tomato;">AB-</h1>
            </th>
            <th scope="col">
              <h1 style="color:Tomato;">O+</h1>
            </th>
            <th scope="col">
              <h1 style="color:Tomato;">O-</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <h1 style="color:Tomato;">ml</h1>
            </th>
            <td>
              <h1><%= Apozitiv %></h1>
            </td>
            <td>
              <h1><%= Anegativ %></h1>
            </td>
            <td>
              <h1><%= Bpozitiv %></h1>
            </td>
            <td>
              <h1><%= Bnegativ %></h1>
            </td>
            <td>
              <h1><%= ABpozitiv %></h1>
            </td>
            <td>
              <h1><%= ABnegativ %></h1>
            </td>
            <td>
              <h1><%= Opozitiv %></h1>
            </td>
            <td>
              <h1><%= Onegativ %></h1>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <%- include ('partials/footer.ejs') %>

  
</body>

</html>