<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak,shpëto jetë!</title>
  <link href="giveblood.png" rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="generalStyle.css">
  <link rel="stylesheet" href="card.css">
  <link rel="stylesheet" href="shto.css">
  <!-- / Boostrap4 -->
  <link rel="stylesheet" href="navAndFooter.css">
  <link href="style.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
  <%- include ('partials/navbar.ejs') %>


  <div class="extraMarginTB">
    <div class="title center">
      <h2>Lista e marrësve të gjakut</h2>
    </div><br><br>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col ">Nr</th>
            <th scope="col">Emri</td>
            <th scope="col">Mbiemri</td>
            <th scope="col">Gr. i Gjakut</td>
            <th scope="col">Sasia</td>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < rows.length ; i++) { %>
          <tr>
            <th scope="row "><%= i+1 %></th>
            <td><%= rows[i].emri %></td>
            <td><%= rows[i].mbiemri %></td>
            <td><%= rows[i].grgjakut %></td>
            <td><%= rows[i].sasia %></td>
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>



  <!----------- Footer ------------>
  <%- include ('partials/footer.ejs') %>

</body>

</html>