<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak,shpëto jetë!</title>
  <link href="giveblood.png" rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/style/navbar.css">
  <link rel="stylesheet" href="/style/general.css">
  <link rel="stylesheet" href="/style/profili.css">
  <link rel="shortcut icon" href="/img/giveblood.png">
</head>

<body>

  <nav id="nav-links">
    <div class="logo">
      <h4><img width="30" src="/img/giveblood.png" alt=""></h4>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/dil" style="color:tomato;">Dil</a>
      </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <script src="/scripts/app.js"></script>

  <div class="center animation ">

    <div class="box">
      <p><img width="100" src="https://www.searchpng.com/wp-content/uploads/2019/02/Profile-PNG-Icon.png"></p>
      <p class="profil-name">
        <%= emri %>
          <%= mbiemri %>
      </p>

      <p class="profile-contact">
        Kontakti: <span>
          <%= kontakti %>
        </span>
      </p>

      <p class="profile-bloodGr">
        Grupi i gjakut: <span>
          <%= grgjakut %>
        </span>
      </p>

      <p class="profile-quantity">
        Historia: <span>
          <%= sasia %> ml
        </span>
      </p>
    </div>
  </div>

  <div class="distance"></div>

  <!----------- Footer ------------>
  <%- include ('partials/footer.ejs') %>

</body>

</html>