<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak,shpëto jetë!</title>
  <link href="giveblood.png" rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="generalStyle.css">
  <!-- / Boostrap4 -->
  <link rel="stylesheet" href="navAndFooter.css">
  <link rel="stylesheet" href="profili.css">
  <link rel="stylesheet" href="card.css">

  <link href="style.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body style="
/* background-image:url('regjistrohu.jpg');  */
background-color: rgba(255,255,255,0.2);
background-blend-mode: lighten;
background-repeat : no-repeat;
background-size: cover;

">
  <nav style="min-height:5.5em" class="navbar navbar-expand-lg navbar navbar-light bg-light">
    <img class="navbar-brand logo" width="5%" src="../static/giveblood.png">

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse6">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse6">
      <div class="navbar-nav">

        <form action="/shkyqu" method="POST">
          <button class="nav-item nav-link active btn btn-light" type="submit">Dil</button>
        </form>

      </div>

    </div>
  </nav>


  <div class="box center marginTB ">
<center>
    <div class="card mt-5 mb-5" style="width: 18rem">
      <img class="card-img-top" src="https://www.searchpng.com/wp-content/uploads/2019/02/Profile-PNG-Icon.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= emri %> <%= mbiemri %></h5>
        <p class="card-text"> Kontakti: <%= kontakti %> <br> Grupi i gjakut: <%= grgjakut %> <br> Historia: <%= sasia %>
          ml</p>
      </div>
    </div>
  </center>



  </div>



  <!----------- Footer ------------>
  <%- include ('partials/footer.ejs') %>

</body>

</html>