<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak,shpëto jetë!</title>
  <link href="giveblood.png" rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap4 -->

  <link rel="stylesheet" href="style/forms.css">
  <link rel="stylesheet" href="style/general.css">
  <link rel="stylesheet" href="style/navbar.css">
  <link rel="stylesheet" href="style/table.css">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
  <nav>
    <div class="logo">
      <h4><img width="30" src="/img/giveblood.png" alt=""></h4>
    </div>
    <ul class="nav-links" id="nav-links">
      <li>
        <a href="/shto_dhurues">Dhuruesit</a>
      </li>
      <li>
        <a href="/shto_marres">Marrësit</a>
      </li>
      <li>
        <a href="/depozita">Depozita</a>
      </li>
      <li>
        <a style="color:red" href="/dil">dil</a>
      </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <script src="/scripts/app.js"></script>



  <!-- new form -->
  <div class="centerForm">
    <label class="mainLabel">Shto Marres </label>
    <div class="formBox marginTB ">
      <form method="POST" action="/shto_marres_form">
        <input type="text" name="marres_emri" id="" placeholder="Emri">
        <input type="text" name="marres_mbiemri" id="" placeholder="Mbiemri">
        <!-- 
        <input type="number" name="shto_dhurues_kontakti" id="" placeholder="Kontakti" required>
        <input type="email" name="shto_dhurues_email" id="" placeholder="email" required> -->
        <select name="marres_gr_gjakut" required>
          <option value="" disabled selected>Grupi i Gjakut</option>
          <option value="A-">A-</option>
          <option value="A+">A+</option>
          <option value="B-">B-</option>
          <option value="B+">B+</option>
          <option value="AB-">AB-</option>
          <option value="AB+">AB+</option>
          <option value="O+">0-</option>
          <option value="O+">0+</option>
        </select>

        <input type="text" name="marres_sasia" placeholder="Sasia (ml)">

        <input type="submit" value="Shto Marres">
      </form>

      <p style="color:tomato;text-align:center;">
        <%- isAdded %>
      </p>
    </div>
    <!-- / new form -->

    <!-- Poshte eshte lista -->
    <div class="tableCenter">
      <table class="styled-table">
        <thead>
          <tr>
            <th scope="col ">Nr</th>
            <th scope="col">Emri</td>
            <th scope="col">Mbiemri</td>
            <th scope="col">Gr. i Gjakut</td>
            <th scope="col">Sasia</td>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i < rows.length ; i++) { %>
            <tr>
              <th scope="row ">
                <%= i+1 %>
              </th>
              <td>
                <%= rows[i].emri %>
              </td>
              <td>
                <%= rows[i].mbiemri %>
              </td>
              <td>
                <%= rows[i].grgjakut %>
              </td>
              <td>
                <%= rows[i].sasia %>
              </td>
            </tr>

            <% } %>
        </tbody>
      </table>
    </div>

    <!----------- Footer ------------>
    <%- include ('partials/footer.ejs') %>

</body>

</html>